NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pressero_pjm_visual_middleware?schema=public"
PJM_PUBLIC_BASE_URL="https://ams.printjobmanager.com/api"
PJM_USERNAME=""
PJM_PASSWORD=""
MEDIA_ASSETS_DIR=""
